---
import dayjs from "dayjs"
import MainLayoutAstro from "../layouts/main.layout.astro"
import { client } from "../lib/contentful.lib"
import { type PostInterface } from "../lib/interfaces.lib"
import { frontmatter, Content } from "../content/pages/index.md"

const { APP_NAME, CONTENTFUL_TYPE_ID, DATE_FORMAT } = import.meta.env
const { subtitle, subscription } = frontmatter

const featuredEntries = await client.getEntries<PostInterface>({
  content_type: CONTENTFUL_TYPE_ID,
  order: "-fields.publishedAt",
  "fields.featured": true,
  limit: 1
})

const featuredPost = featuredEntries.items[0].fields

const entries = await client.getEntries<PostInterface>({
  content_type: CONTENTFUL_TYPE_ID,
  order: "-fields.publishedAt"
})

const posts = entries.items
  .map((entry) => entry.fields)
  .slice(0, 12)
  .map((post) => ({
    ...post,
    date: new Number(dayjs(post.publishedAt).format("YYYYMMDD")),
  }))
  .sort((a, b) => b.date - a.date)

---
<MainLayoutAstro>
    <div class="flow">
        <!-- Hero Section -->
        <section class="section section-home section-home-hero">
          <article class="wrapper section__wrapper mx-auto p-4">
            <div class="section-home-hero__body | text-center flow">
              <h1 class="text-6xl font-serif">{APP_NAME}</h1>
    
              <p class="text-xl">{subtitle}</p>
            </div>
            <!-- ./section-home-hero__body -->
          </article>
        </section>
    
        <!-- Featured Article -->
        <section class="section section-home section-home-featured">
          {featuredPost && <article class="wrapper section__wrapper mx-auto">
            <div
              class="section-home-featured__body container-q container-q-home-featured"
            >
              <div class="section-home-featured__body__decoration">
                Featured
              </div>
              <!-- ./section-home-featured__body__decoration -->
    
              <div class="section-home-featured__body__main">
                <div class="section-home-featured__body__main__img | bg bg-full bg-0007"></div>
                <div class="section-home-featured__body__main__content | flow">
                  <h2 class="text-3xl font-serif">{featuredPost.title}</h2>
    
                  <p class="text-sm">
                    Written on <time datetime={featuredPost.publishedAt}>{dayjs(featuredPost.publishedAt).format(DATE_FORMAT)}</time>
                  </p>
    
                  <p>{featuredPost.excerpt}</p>
    
                  <p><a href={`/scrolls/${featuredPost.slug}`}>Read more</a></p>
                </div>
                <!-- ./section-home-featured__body__main__content -->
              </div>
              <!-- ./section-home-featured__body__main -->
    
              <div class="section-home-featured__body__decoration">
                Featured
              </div>
              <!-- ./section-home-featured__body__decoration -->
            </div>
            <!-- ./section-home-featured__body -->
          </article>}
          
        </section>
    
        <!-- Featured Scripture -->
        <section class="section section-home section-home-scripture">
          <article
            class="wrapper section__wrapper section-home-scripture__wrapper mx-auto container-q container-q-home-scripture"
          >
            <div class="section-home-scripture__main">
              <div class="section-home-scripture__main__body | flow">
                <h2 class="text-3xl font-serif">Scripture for the Season</h2>
    
                <Content />
              </div>
              <!-- ./section-home-scripture__main__body -->
              <div class="section-home-scripture__main__img | bg bg-full bg-0001"></div>
            </div>
            <!-- ./section-home-scripture__main -->
          </article>
        </section>
    
        <!-- Subscribe CTA -->
        {subscription && <section class="section section-home section-home-subscribe">
            <article
              class="wrapper section__wrapper section-home-subscribe__wrapper mx-auto flow"
            >
              <h2 class="text-2xl font-serif">
                Subscribe to receive new scrolls!
              </h2>
              <p><a href="subscription.html">Subscribe</a></p>
            </article>
          </section>}
    
        <!-- 10 Latest Articles -->
        <section class="section section-home section-home-articles">
          <h2 class="section-home-articles__heading">
            <div
              class="wrapper section__wrapper section-home-articles__heading__wrapper | text-2xl font-serif mx-auto"
            >
              Latest Scrolls
            </div>
          </h2>
    
          <div
            class="wrapper section__wrapper section-home-articles__wrapper container-q container-q-home-articles | mx-auto p-4"
          >
            <div class="articles-grid">
                {posts.map(({ title, slug, excerpt, publishedAt }: any) => {
                  return (
                  <article class="section-home-articles__article | flow">
                    <h3 class="text-4xl font-serif">{title}</h3>
          
                    <p class="text-sm">Written on <time datetime={publishedAt}>{dayjs(publishedAt).format(DATE_FORMAT)}</time></p>
        
                    <p>{excerpt}</p>
        
                    <p><a href={`/scrolls/${slug}`}>Read more</a></p>
                  </article>
                  )
                })}
            </div><!-- ./articles-grid -->
          </div><!-- ./wrapper -->
    
          <div class="section-home-articles__see-more">
            <p
              class="wrapper section-home-articles__see-more__wrapper | text-center mx-auto p-2"
            >
              <a href="#">See more scrolls</a>
            </p>
            <!-- ./wrapper -->
          </div>
        </section>
      </div><!-- ./flow -->
</MainLayoutAstro>